html,
body,
header,
#intro {
    height: 100%;
}
#intro{
    background: url("nature.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
ul {
    margin-top: 10px;
    margin-right: -160px;
	overflow: auto;
}

ul li {
	list-style-type: none;
	float: right;
}

ul li a i {
	background: #205D7A;
	color: #fff;
	width: 35px;
	height: 35px;
	border-radius: 20px;
	font-size: 22px;
	text-align: center;
	margin-left: 10px;
	padding-top: 15%;
}